#limiter
{
    background-color: #3B5998;
    color: #fff;    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}

#countdown-timer
{
    margin-bottom: 5px;
}

#no-more-facebook
{
    background-color: #3B5998;
    color: #fff;
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
    font-size: 40px;
}