.fl
{
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

#limiter
{
    background-color: #3B5998;
    color: #fff;    
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}

#limiter .disabled
{
    text-decoration: line-through;
}

#countdown-timer
{
    margin-bottom: 5px;
}

.fl_container
{
    width: 981px;
    margin-left: auto;
    margin-right: auto;
}

.fl_options
{
    padding:0px;
    margin:0px;
}

.fl_heading
{
    background-color: #3B5998;
    padding-left: 20px;
    padding-top:10px;
    padding-bottom: 10px;
}

.fl_heading h1
{
    margin:0px;
    color: #fff!important; 
    font-size: 32px!important;
}

.fl_options form ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.fl_options form ul input
{
    margin-right: 10px;
}

.fl_box
{
    border-color:#B3B3B3;
    border-width:1px;
    border-style:solid;
    border-top-style:none;
    padding: 20px;
}

.fl_copyright
{
    padding-top:10px;
    padding-left:10px;
    color:#808080;
    font-size:11px;
}